/*=======RESET=======*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*=======END RESET=======*/

.main-link {
  color: teal;
  text-decoration: none;
  text-align: center;

  margin-left: auto;
  margin-right: 20px;
  padding: 15px;

  max-width: 150px;
  border-radius: 4px;
}
.main-link:hover,
.main-link:focus {
  background-color: tomato;
  color: white;
  outline: none;
}

/*=======FLEX-1=======*/
/* Вариант железно бетонный, но когда нет фона */
.flex-1 {
  padding: 50px 0px;
  background-color: teal;
}
.main-title {
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}
.flex-elements {
  background-color: tomato;
  width: 370px;

  padding: 5px;
  text-align: center;
  margin: 15px;

  border-radius: 5px;
}

/* вариант 1 */
/* .flex-elements {
  background-color: tomato;
  width: 370px;

  padding: 5px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
} */
/* Алтернатива но при этом нужно убрать у елемента марджины*/
/* .flex-elements:not(:nth-child(3n)) {
  margin-right: 30px;
}
.flex-elements:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
/* .flex-elements:nth-child(3n) {
  margin-right: 0px;
}
.flex-elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* Вариант 2 Калк */

/* .flex-elements {
  background-color: tomato;

  width: calc((100% - 60px) / 3);
  padding: 5px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
} */
/* .flex-elements:not(:nth-child(3n)) {
  margin-right: 30px;
}
.flex-elements:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
/* Алтернатива */
/* .flex-elements:nth-child(3n) {
  margin-right: 0px;
}
.flex-elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
/*=======END FLEX-1=======*/

/*=======Переменные для карточек=======*/
:root {
  --page-bg-color: #cccccc;
  --primary-text-color: #212121;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  line-height: 1.5;
}

/*=======FLEX-CARDS=======*/
.flex-cards {
  padding: 50px 0px;
  background-color: var(--page-bg-color);
}

/* CARDS-SET */
.card-set {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
/* END CARDS-SET */

/* CARD */
.card-thumb > img {
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 10px;
}
.flex-card-title {
  padding-bottom: 50px;
  text-align: center;
  color: teal;
  font-style: italic;
  text-decoration: underline;
}
.card-heading {
  margin-bottom: 15px;
}
.card {
  box-shadow: var(--card-shadow);
  border-radius: 5px;
  overflow: hidden;
}
/* END CARD */

/*=======END FLEX-CARDS=======*/

/*=======TRANSFORM 2D=======*/

.container-transform {
  background-color: teal;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box::before {
  font-size: 20px;
}

.box:nth-child(1) {
  /*   transform: translateX(50px); */

  animation: animateX50 3000ms infinite 1000ms;
  background-color: orange;
}

.box:nth-child(1)::before {
  content: 'translateX(50px)';
}

.box:nth-child(2) {
  /*   transform: translateY(110px); */

  animation: animateY110 3000ms infinite 1000ms;
  background-color: #03a9f4;
}

.box:nth-child(2)::before {
  content: 'translateY(110px)';
}

.box:nth-child(3) {
  /*   transform: translate(-50px, -100px); */

  animation: animateX50Y100 3000ms infinite 1000ms;
  background-color: palevioletred;
}

.box:nth-child(3)::before {
  content: 'translate(-50px, -100px)';
}

@keyframes animateX50 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animateY110 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(110px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateX50Y100 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50px, -100px);
  }

  100% {
    transform: translate(0, 0);
  }
}
/*=======END TRANSFORM 2D=======*/

/*=======Абсолютное позиционирование=======*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9fd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.position-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.thumb > .label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;

  font-family: sans-serif;
  font-size: 24px;
  background-color: #2196f3;
  color: #fff;
}
/*=======END Абсолютное позиционирование=======*/
