/*=======RESET=======*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*=======END RESET=======*/
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --white-color: #ffffff;
  --bgc-color: #f5f5f5;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/*=======COMPONENT=======*/
.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Section title */
.section-title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
/* Section subtitle */
.section-subtitle {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* section text */
.section-text {
  font-size: 36px;
  line-height: 1.39;
  text-align: center;
}
/* Button */
.button {
  display: inline-block;
  border-radius: 6px;
  padding: 11px 30px;
  min-width: 130px;
  height: 40px;

  color: var(--title-text-color);
  background-color: var(--white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}
.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--white-color);
  border: 1px solid var(--accent-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*=======END COMPONENT=======*/

/*=======HEADER=======*/
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;

  margin-right: 70px;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* Site nav */
.flex-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;

  padding: 14px 0;
}
.logo-img {
  margin-right: 12px;
}
.nav-link {
  color: var(--accent-color);

  font-size: 15px;
  line-height: 1.2px;
  font-weight: 500;

  padding: 21px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--title-text-color);
}
.nav-link.link.current {
  color: var(--title-text-color);
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav {
  display: flex;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-item:not(:last-child) {
  margin-right: 12px;
}
/*=======END HEADER=======*/

/*=======HERO=======*/
.hero .container {
  width: 1440px;
  height: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
  padding-top: 632px;
}
.hero {
  max-width: 1600px;
  height: 960px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;

  margin-bottom: 40px;
}
.hero .button {
  min-width: 192px;
  height: 52px;
}
/*=======END HERO=======*/

/*=======QUOTES=======*/
.quotes-title-container {
  max-width: 750px;
  height: 144px;
  margin-bottom: 60px;
}
.quotes .section-title {
  text-align: start;
}
.quotes-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-right: -148px;
  margin-bottom: -60px;
}
.quotes-item {
  flex-basis: calc(100% / 2 - 148px);
  margin-right: 148px;
  margin-bottom: 60px;
}
.quotes .section-subtitle {
  margin-bottom: 20px;
}
.quotes .description {
  margin-bottom: 32px;
}
/*=======END QUOTES=======*/

/*=======EXAMPLES=======*/
.examples {
  padding-top: 80px;
}
.examples-item {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.examples-item.dark-team {
  padding: 80px 0px;
}
.examples-item:nth-child(even) {
  /* background-color: var(--bgc-color); */
}
.examples-img {
  margin-right: 84px;
}
.examples .section-subtitle {
  margin-bottom: 24px;
}
/*=======END EXAMPLES=======*/

/*=======SIGNUP=======*/
.signup {
  background-color: var(--bgc-color);
}
/*=======END SIGNUP=======*/

/*=======FOOTER=======*/
.footer-link {
  text-decoration: none;

  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  color: var(--title-text-color);
}
/*=======END FOOTER=======*/

/*=======END COPYRITE=======*/
.copy {
  font-size: 15px;
  line-height: 1.6;

  text-align: center;
}
/*=======END COPYRITE=======*/
